[workspace]
members = [
  "backfill",
  "discv5",
  "in-memory-state",
  "minimal",
  "op-bridge",
  "remote",
  "rollup",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
rust-version = "1.79"
license = "MIT OR Apache-2.0"
publish = false

[workspace.dependencies]
# reth
reth = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-chainspec = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-discv5 = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-execution-errors = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-execution-types = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-exex = { git = "https://github.com/paradigmxyz/reth", features = ["serde"], version = "1.0.4" }
reth-network-peers = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-node-api = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-node-ethereum = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-primitives = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-provider = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-revm = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-evm = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }
reth-tracing = { git = "https://github.com/paradigmxyz/reth", version = "1.0.4" }

# alloy
alloy-sol-types = { version = "0.7", features = ["json"] }

# async
futures = "0.3"
futures-util = "0.3"
tokio = { version = "1.0", features = ["full"] }
tokio-stream = "0.1"

# misc
eyre = "0.6"

# testing
reth-exex-test-utils = { git = "https://github.com/paradigmxyz/reth" }
reth-testing-utils = { git = "https://github.com/paradigmxyz/reth" }
